<div class="stripe-top">
    <nav class="layout-container">
        Top Stripe Navbar <a href="#_">A Link</a>
    </nav>
</div>

<header class="layout-container">
    <div class="header-inner">
        <div class="brand">
            Magazine Theme
        </div>
        <div class="advert">
            Advertisement
        </div>
    </div>
</header>

<div class="main-nav-container">
    <div class="layout-container">
    <nav id="main-nav">
        <div class="brand">
            LOGO
        </div>

        <div class="links">
            {% partial __SELF__ ~ "::items" items=__SELF__.menuItems %}
        </div>

        <div class="menu-toggle">
            X
        </div>
    </nav>
    </div>
</div>





