{% if component|length %}
    {% set posts=component.posts %}
{% endif %}

{% if title %}
    <div class="d-flex position-relative float-left">
        <h3 class="section-title">{{ title }}</h3>
    </div>
{% endif %}

{# Collapse to swipable slides on small screens - todo test for touch capability #}
<div class="hero-image-grid">
    {% for post in posts %}
        <div class="box image-hover">
            <a href="{{ post.url }}">
            {% partial "helpers/image"
                image = post.images.list.default
                responsive = post.images.list.responsive
                alt = post.images.list.alt
            %}
            </a>
            <div class="info">
                {% if post.primary_category %}
                <span class="category-badge">
                    <a href="{{ post.primary_category.url }}">{{ post.primary_category.name | upper }}</a>
                </span>
                {% endif %}
                <h3>{{ post.title }}</h3>
                <span class="excerpt">
                    {{ post.excerpt | raw }}
                </span>
                <span class="author">
                    <a href="{{ post.author.profile.url }}">{{ post.author.full_name }}</a> -
                    {{ post.publlished_at | date('M d, Y') }}
                </span>
            </div>
        </div>
    {% endfor %}
</div>


