==
function onStart()
{
    // This render is cached, so we cannot add to the graph
    // We will print our schema separately and reference the graph

    // Skip in the backend (plugin renders the partials to grab content for search but there is no frontend controller)
    if (app()->runningInBackend()) return;

    $seo = \App::make('dynamedia.posts.seo');
    $seo->loadProperties($this->controller);

    $templateData = $this['template'];

    $review = \Spatie\SchemaOrg\Schema::review()
        ->setProperty("@id", $this['post']->url . "#productReview")
        ->setProperty('mainEntityOfPage', ["@id" => $seo->getSchemaArticleId()])
        ->setProperty('isPartOf', ["@id" => $seo->getSchemaArticleId()])
        ->setProperty('author', ["@id" => $seo->getSchemaAuthorId()]);


    $product = \Spatie\SchemaOrg\Schema::product()
        ->setProperty("@id", $this['post']->url . "#reviewedProduct")
        ->setProperty('review', ["@id" => $this['post']->url . "#productReview"])
        ->name($templateData['product_name'])
        ->description($templateData['product_description'])
        ->sameAs($templateData['product_info_url']);

    if (!empty($templateData['product_images'][0]['image'])) {
        $productImage = \Spatie\SchemaOrg\Schema::imageObject()
            ->url(\Cms\Classes\MediaLibrary::url($templateData['product_images'][0]['image']));
        $product->image($productImage);
    }

    $rating = \Spatie\SchemaOrg\Schema::rating()
        ->ratingValue($templateData['product_rating']);

    $review->itemReviewed($product)
        ->reviewRating($rating);

    $this['schema_script'] = $review->toScript();
}
==

{{ schema_script | raw }}

<style>
    .fas.active {
        color: orange;
    }
    .fa-thumbs-up {
        color: lightgreen;
    }
    .fa-thumbs-down {
        color: indianred;
    }
    figure {
        margin: 15px auto;
        max-width: 85%;
        border: 1px solid #fafafa;
    }
    img {
        max-width: 100%;
    }
</style>
<div class="row">

    <div class="col-12 my-2">
        <p>{{ 'postbody_template.product_review.title.where_to_buy' | _ }}: <a target="_blank" href="{{ template.product_buy_url }}">{{ template.product_buy_store }}</a></p>
        <p>{{ 'postbody_template.product_review.title.product_score' | _ }}:
        {% for i in range(1, 5) %}
            <i class="fas fa-star {{ loop.index <= template.product_rating ? 'active' : ''}}"></i>
        {% endfor %}
        </p>
    </div>

    <div class="col-12 my-2">
        {{ template.product_intro | raw }}
    </div>

    <div class="col-12 my-2">
        {{ template.product_review_body | raw }}
    </div>

    <div class="col-12 my-2">
        <h3>{{ 'postbody_template.product_review.title.images' | _ }}</h3>
        <div class="row">
            {% for item in template.product_images %}
                <div class="col-12">
                    <figure>
                        <img src="{{ item.image | media }}" alt="item.alt_text">
                        {% if item.caption %}
                            <figcaption class="p-1">{{ item.caption }}</figcaption>
                        {% endif %}
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-12 my-2">
        <h3>{{ 'postbody_template.product_review.title.positives' | _ }}</h3>
        <ul class="list-unstyled">
            {% for item in template.product_positives %}
            <li><i class="fas fa-thumbs-up"></i> {{ item.reason }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-12 my-2">
        <h3>{{ 'postbody_template.product_review.title.negatives' | _ }}</h3>
        <ul class="list-unstyled">
            {% for item in template.product_negatives %}
                <li><i class="fas fa-thumbs-down"></i> {{ item.reason }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-12 my-2">
        <h3>{{ 'postbody_template.product_review.title.verdict' | _ }}</h3>
        {{ template.product_verdict | raw }}
    </div>

    {% if template.product_rating >= 4 %}
        <div class="col-12 my-2">
            <a target="_blank" href="{{ template.product_buy_url }}">
                {{ 'postbody_template.product_review.title.buy_link' | _ ({ product: template.product_name }) }}
            </a>
        </div>
    {% endif %}
</div>
