<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {{ head_seo | raw }}

    {# Fonts - Make Dynamic todo #}
    {% partial 'layout/fonts/open-sans' %}

    {% partial 'layout/common/dynamicCss' %}


    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">

    <link rel="shortcut icon" href="{{ "assets/images/favicon.png" | theme }}" />

    <link rel="stylesheet" href="{{ "assets/css/dist/app.css" | theme }}">
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
</script>
</head>
