description = "Category Single Column Simple"
postsLayout = true

[localePicker]
forceUrl = 1

[staticMenu mainNavigation]
code = "main-navigation"

==

<!DOCTYPE html>
<html lang="{{ activeLocale }}">

    {% partial 'layout/common/head' %}

    <body class="page-{{ this.layout.id }} layout-{{ this.layout.id }}">

        {% partial 'layout/common/header' %}

        {# The component is attached to the page but we can use it here for more customisation #}
        {% set displayCategoryComponent = this.page.components.displayCategory %}
        {% set category = displayCategoryComponent.category %}
        {% set posts = displayCategoryComponent.posts %}

        {# Split the posts into groups for a nice display, if there are enough otherwise just a list  #}
        {% if posts | length > 9 %}
            {% set featuredPost = posts | first %}
            {% set carouselPosts = posts | slice(1,3) %}
            {% set firstBlock = posts | slice(4,3) %}
            {% set postsList = posts | slice(8) %}
        {% else %}
            {% set postsList = posts %}
        {% endif %}


        <div class="container">
            {# Render the category body only if it's the first page #}
            {% if posts.currentPage == 1 %}
                <div class="row">
                    <div class="col-12 mt-4">
                        {{ category.body.renderAllPages | raw }}
                    </div>
                </div>
            {% endif %}

            {% if carouselPosts %}
                <div class="row">
                    <div class="col-12 mt-2 mb-4">
                        {% partial "postLists/carouselFullWidth"
                            posts=carouselPosts
                        %}
                    </div>
                </div>
            {% endif %}

            {% if firstBlock %}
                <div class="row">
                    <div class="col-12 mt-2 mb-4">
                        {% partial "postLists/stackingCards"
                            posts=firstBlock
                            show_excerpt=true
                            show_link=true
                            label='tag'
                        %}
                    </div>
                </div>
            {% endif %}

            {% if featuredPost %}
                <div class="row">
                    <div class="col-12 mt-2 mb-4">
                        {% partial 'postLists/singleFeatured'
                            post=featuredPost
                        %}
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-12 mt-2 mb-4">
                    {% partial "postLists/stackingCards"
                        posts=postsList
                        show_excerpt=true
                        show_link=true
                        label='tag'
                    %}
                </div>
            </div>

            {% if posts.links %}
                <div class="row">
                    <div class="col-12 pagination">
                        {{ posts.links("pagination::bootstrap-4") | raw }}
                    </div>
                </div>
            {% endif %}
        </div>


        {% partial 'layout/common/footer' %}

        {% partial 'layout/common/scripts' %}

    </body>

</html>
