description = "Default Tag Display"
postsLayout = true

[localePicker]
forceUrl = 1

[staticMenu mainNavigation]
code = "main-navigation"

==

{# The component is attached to the page but we can use it here for more customisation #}
        {% set displayTagComponent = this.page.components.displayTag %}
        {% set tag = displayTagComponent.tag %}
        {% set posts = displayTagComponent.posts %}

        {# Split the posts into groups for a nice display, if there are enough otherwise just a list  #}
        {% if posts | length >= 6 %}
            {% set firstBlock = posts | slice(0,4) %}
            {% set postsList = posts | slice(4) %}
        {% else %}
            {% set postsList = posts %}
        {% endif %}

<!DOCTYPE html>
<html lang="{{ activeLocale }}">

    {% partial 'layout/common/head' %}

    <body class="page-{{ this.page.id }} layout-{{ this.layout.id }}">

        <div class="upper">

            {% partial 'layout/common/header' %}

            {% if tag.images.banner.default %}
                <div class="full-banner" style="background-image: url('{{ tag.images.banner.default | media }}')">
            {% else %}
                <div class="full-banner no-image">
            {% endif %}

                <div class="layout-container inner">
                    <h1>#{{ tag.name | upper }}</h1>

                        <div class="excerpt">
                            <p>{{ tag.excerpt | striptags }}</p>
                        </div>

                </div>

            </div>

                <div class="layout-container">

                    <article class="content-body taxonomy">
                        {{ tag.body.renderAllPages() | raw }}
                    </article>

                    {% if firstBlock %}
                    <div class="content-container">
                        {% partial "postLists/heroImageList"
                            posts=firstBlock
                            badge="category"
                        %}
                    </div>
                    {% endif %}

                    <div class="grid-sidebar-right content-container">
                        <div>
                            {% partial "postLists/imageTextList"
                                posts=postsList
                            %}

                            {% if posts.links %}
                                {{ posts.links("pagination::bootstrap-4") | raw }}
                            {% endif %}
                        </div>

                        <div>
                            {% partial 'sidebar/right-sticky-main' %}
                        </div>
                    </div>

                </div>
            </div>

        </div>

        {% partial 'layout/common/footer' %}

        {% partial 'layout/common/scripts' %}

    </body>

</html>
