description = "Home Two Column Left"
postsLayout = true

[localePicker]
forceUrl = 1

[staticMenu mainNavigation]
code = "main-navigation"

[listPosts topBannerPosts]
postIds = "1,2,3"
postsLimit = 3
postsPerPage = 3
sortOrder = "published_at desc"

[listPosts latestPostsCarousel]
postsLimit = 6
postsPerPage = 6
sortOrder = "published_at desc"

[listPosts fourFeaturedPosts]
postsLimit = 4
postsPerPage = 4
sortOrder = "published_at desc"

[listPosts fourFeaturedPosts2]
postsLimit = 4
postsPerPage = 4
sortOrder = "published_at desc"

[listPosts heroListTop]
postsLimit = 6
postsPerPage = 6
sortOrder = "published_at desc"

[listPosts pictureTextList]
postsLimit = 12
postsPerPage = 12
sortOrder = "published_at desc"

==
<!DOCTYPE html>
<html lang="{{ activeLocale }}">

    {% partial 'layout/common/head' %}

    <body class="page-{{ this.layout.id }} layout-{{ this.layout.id }}">

        {% partial 'layout/common/header' %}

        <div class="container">

            <div class="banner-top-thumb-wrap">
                <div class="d-lg-flex justify-content-between align-items-center">
                    {% component 'topBannerPosts' %}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        {% partial "postLists/carouselFullWidth"
                            component=this.layout.components.latestPostsCarousel
                        %}
                    </div>

                    {% page %}

                    <div class="world-news">
                        {% partial "fourBlockPosts/default"
                            title="Four Block Posts"
                            component=this.layout.components.fourFeaturedPosts
                            label='category'
                        %}
                    </div>

                    <div class="editors-news">
                        {% partial "postLists/heroListTop"
                            title="Hero List Left"
                            component=this.layout.components.heroListTop
                        %}
                    </div>

                    <div class="world-news">
                        {% partial "postLists/stackingCards"
                            title="Four Block Posts 2"
                            component=this.layout.components.fourFeaturedPosts2
                            label='category'
                        %}
                    </div>

                    <div class="popular-news">
                        {% partial "pictureTextList/default"
                            title="Picture Text List"
                            component=this.layout.components.pictureTextList
                            label='category'
                        %}
                    </div>
                </div>

                <div class="col-lg-4 border-left">
                    <div>
                        {% partial "verticalPostsList/default"
                            component=this.layout.components.fourFeaturedPosts
                        %}
                    </div>
                </div>
            </div>
        </div>

        {% partial 'layout/common/footer' %}

        {% partial 'layout/common/scripts' %}

    </body>

</html>
