.twitter-blue-bg {
    background: #1DA1F2;
    color: #FFFFFF;
}
.twitter-blue-fg {
    background: #FFFFFF;
    color: #1DA1F2;
}
.facebook-blue-bg {
    background: #4267B2;
    color: #FFFFFF;
}
.facebook-blue-fg {
    background: #FFFFFF;
    color: #4267B2;
}
.youtube-red-bg {
    background: #FF0000;
    color: #FFFFFF;
}
.youtube-red-fg {
    background: #FFFFFF;
    color: #FF0000;
}
.instagram-purple-blue-bg {
    background: #5851DB;
    color: #FFFFFF;
}
.instagram-purple-blue-fg {
    background: #FFFFFF;
    color: #5851DB;
}
