.layout-container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 5px;
    @include media-breakpoint-up(sm) {
        max-width: $grid-sm-width;
    }
    @include media-breakpoint-up(md) {
        padding: 0 15px;
        max-width: $grid-md-width;
    }
    @include media-breakpoint-up(lg) {
        max-width: $grid-lg-width;
    }
    @include media-breakpoint-up(xl) {
        max-width: $grid-xl-width;
    }
    @include media-breakpoint-up(xxl) {
        max-width: $grid-xxl-width;
    }
}
.grid-sidebar-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    @include media-breakpoint-up(lg) {
        grid-template-columns: 8fr 4fr;
    }
    .advert {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        small.ad-text {
            font-size: 0.7rem;
            color: #777777;
        }
        @include media-breakpoint-up(lg) {
            justify-content: center;
        }
    }
    .social-links {
        margin-top: 15px;
        ul {
            text-align: center;
            padding: 15px 0;
            li {
                display: inline-block;
                padding-bottom: 5px;
                border-bottom: 3px solid transparent;
                margin-right: 15px;
                text-align: center;

                i {
                    font-size: 40px;
                }
            }
        }
    }
}
.grid-sidebar-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    @include media-breakpoint-up(lg) {
        grid-template-columns: 3fr 9fr;
    }
    .advert {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        small.ad-text {
            font-size: 0.7rem;
            color: #777777;
        }
        @include media-breakpoint-up(lg) {
            justify-content: center;
        }
    }
}

.content-container {
    margin-bottom: 30px;
}

.push-down-15 {
    margin-top: 15px;
}
