ul.pagination {
    display: flex;
    padding: 0;
    margin: 15px 0;
    align-items: center;
    justify-content: center;

    li {
        display: inline-block;
        background-color: $pagination-base-bg-color;
        margin:0 2px;
        font-size: 1rem;
        &.active {
            padding: 8px 16px;
            background-color: $pagination-active-bg-color;
        }
        &.disabled {
            padding: 8px 16px;
        }
        a {
            display: block;
            padding: 8px 16px;
            height: 100%;
            width: 100%;
            &:focus, &:hover {
                background-color: $pagination-focus-bg-color;
            }
        }
    }
}
