.swiffy-slider {
    .carousel-wrapper {
        background: #000000;

        img {
            width: 100%;
            object-fit: cover;
            opacity: 0.6;
            height: 20rem;
            @include media-breakpoint-up(md) {
                height: 24rem;
            }
        }

        .carousel-content {
            position: absolute;
            bottom: 60px;
            left: 40px;
            color: #ffffff;
            h4 {
                font-size: 1.8rem;
                font-weight: bold;
            }
        }

    }
}


