

a.taxonomy-badge {
    display: inline-block;
    text-transform: uppercase;
    padding: 4px;
    border-radius: 2px;
    transition: background-color 400ms ease-out;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
    color: #fff;

    &:hover {
        text-decoration: none;
        background-color: $primary;
    }
    &:focus {
        background-color: $primary;
    }
}
