// LAYOUT //

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);
$grid-xxl-width: 1350px;
$grid-xl-width: 1150px;
$grid-lg-width: 950px;
$grid-md-width: 720px;
$grid-sm-width: 550px;

// COLOURS //

$primary: #0a62fb;

// FONTS //

$type1: "Open Sans", sans-serif;

$default-font-size: 1rem; // 16px as base font size

// Pagination //
$pagination-base-bg-color: #eeeeee;
$pagination-active-bg-color: #68b2f2;
$pagination-focus-bg-color: lighten($pagination-active-bg-color, 20%);
