//
@import "reset";

// Just get the breakpoint mixins from bootstrap because they're very nice
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints";

@import "variables";

/* === Core Styles === */
@import "grids-layout";
@import "helper";
@import "brands";
@import "image-grids-common";
@import "grids-hero-image";
@import "grids-image-text-list";
@import "grids-image-text-grid";
//@import "grids-hero-image-text-grid";
@import "typography";
@import "postdisplay";
@import "userdisplay";
@import "taxonomy";
@import "pagination";
@import "article";
@import "./header";
@import "./footer";

.section-title {
    $bgcol: #666;
    $textcol: #fff;
    padding: 0;
    margin-bottom: 15px;
    border-bottom: 2px solid $bgcol;
    font-size: 1rem;
    span {
        display: inline-block;
        padding:3px 10px;
        background-color: $bgcol;
        color: $textcol;
        text-transform: uppercase;
    }
}
