@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../../../../node_modules/bootstrap/scss/variables";

@import "variables";

/* === Core Styles === */
@import "cards";
@import "grids-layout";
@import "grids-hero-image";
@import "grids-image-text-list";
@import "grids-image-text-grid";
@import "grids-hero-image-text-grid";
@import "grids-carousel-list-left";
@import "swiffy-slider";
@import "typography";
@import "pagination";
@import "./mixins/buttons";
@import "buttons";
@import "./navbar";
@import "./wrapper";
@import "./news-post";
@import "./contact";
@import "./footer";
@import "./error";

.section-title {
    $bgcol: #666;
    $textcol: #fff;
    padding: 0;
    margin-bottom: 15px;
    border-bottom: 2px solid $bgcol;
    font-size: 1rem;
    span {
        display: inline-block;
        padding:3px 10px;
        background-color: $bgcol;
        color: $textcol;
        text-transform: uppercase;
    }
}
